.centered, .container {
    background-color: #F8DE7E;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    font-family: Arial, sans-serif;
    margin-top: 100px;
    background-color: lightskyblue;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
}

.item {
    height: 40px;
    font-size: 19px;
}

.container button {
    margin-top: 10px;
    font-weight: 700;
    font-size: 22px;
    cursor: pointer;
    background-color: aliceblue;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 75%;
    margin-left: 12.5%;
}